includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        - vendor/

    ignoreErrors:
        # relax strict rules
        - '~^Only booleans are allowed in .+, .+ given( on the (left|right) side)?\.~'
