includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    # PHP 8.5 requests Override attribute for properties, but older PHP do not support that
    checkMissingOverrideMethodAttribute: false
    paths:
        - .
    excludePaths:
        - vendor

    ignoreErrors:
        # relax strict rules
        - '~^Only booleans are allowed in .+, .+ given( on the (left|right) side)?\.$~'
